In [6]:
 
import pandas as pd
import matplotlib.pyplot as plt

#Data Frames for every request

df = pd.read_csv("smoking.csv")
display(df)

cldb = pd("Cleaned Data Base",
            header=None,
            names=['Year','Average Smoked', 'Percent of Male', 'Percent of Female', 'Percent of Total Population', 'Total Smokers', 'Total Males', 'Total Females'])


ogdb = pd.DataFrame([
                    ["Australia","1980","24.5","30.5","34.400002","26.799999","3355016","1484506","1870510"],
                    ["Australia","1981","24.4","30.0","33.700001","26.4","3364053","1495378","1868674"],
                    ["Australia","1982","24.299999","29.6","33.099998","26.200001","3380260","1509591","1870669"],
                    ["Australia","1983","24.299999","29.1","32.400002","25.9","3391400","1523179","1868222"],
                    ["Australia","1984","24.299999","28.5","31.5","25.6","3375172","1529566","1845606"],
                    ["Australia","1985","24.200001","27.799999","30.4","25.200001","3353929","1535634","1818295"],
                    ["Australia","1986","24.1","27.1","29.4","24.799999","3334770","1539312","1795458"],
                    ["Australia","1987","23.9","26.4","28.6","24.299999","3321084","1539836","1781248"],
                    ["Australia","1988","23.700001","25.799999","27.9","23.799999","3313344","1538660","1774684"],
                    ["Australia","1989","23.299999","25.4","27.5","23.299999","3317820","1541013","1776807"],
                    ["Australia","1990","22.9","25.1","27.299999","23.0","3338082","1545244","1792838"],
                    ["Australia","1991","22.700001","24.9","27.1","22.700001","3360141","1550622","1809519"],
                    ["Australia","1992","22.4","24.700001","27.0","22.5","3378500","1556379","1822121"],
                    ["Australia","1993","22.1","24.6","26.799999","22.299999","3396002","1563979","1832023"],
                    ["Australia","1994","21.9","24.200001","26.4","22.1","3390339","1566890","1823449"],
                    ["Australia","1995","21.700001","23.799999","25.9","21.9","3382914","1571260","1811654"],
                    ["Australia","1996","21.5","23.4","25.299999","21.5","3370175","1571726","1798449"],
                    ["Australia","1997","21.299999","23.0","24.799999","21.200001","3350770","1566609","1784160"],
                    ["Australia","1998","21.0","22.5","24.299999","20.799999","3328343","1557835","1770507"],
                    ["Australia","1999","20.799999","21.9","23.799999","20.1","3285821","1530452","1755368"],
                    ["Australia","2000","20.700001","21.4","23.4","19.5","3250473","1503713","1746761"],
                    ["Australia","2001","20.5","20.9","23.0","18.9","3222749","1480815","1741934"],
                    ["Australia","2002","20.299999","20.4","22.5","18.4","3196807","1461459","1735348"],
                    ["Australia","2003","20.200001","19.9","22.1","17.9","3166639","1442434","1724204"],
                    ["Australia","2004","20.1","19.4","21.5","17.4","3129217","1422859","1706358"],
                    ["Australia","2005","20.1","18.9","20.9","16.9","3087272","1403957","1683315"],
                    ["Australia","2006","20.200001","18.299999","20.200001","16.4","3044524","1384748","1659776"],
                    ["Australia","2007","20.299999","17.700001","19.5","15.9","3006203","1367864","1638339"],
                    ["Australia","2008","20.4","17.200001","19.0","15.5","2988559","1360640","1627919"],
                    ["Australia","2009","20.5","16.799999","18.5","15.1","2979659","1356975","1622685"],
                    ["Australia","2010","20.5","16.4","18.1","14.8","2944091","1341872","1602219"],
                    ["Australia","2011","20.4","16.299999","17.9","14.7","2938308","1340226","1598082"],
                    ["Australia","2012","20.1","16.299999","17.799999","14.7","2961263","1354856","1606407"]
                    ],
                    columns = ['Country', 'Year', 'Average Smoked', 'Percent of Male', 'Percent of Female', 'Percent of Total Population', 'Total Smokers', 'Total Males', 'Total Females']
                    )
                    
cldb = pd.DataFrame([
                    ["1980","24.50","30.50","34.40","26.80","3355016","1484506","1870510"],
                    ["1981","24.40","30.00","33.70","26.40","3364053","1495378","1868674"],
                    ["1982","24.30","29.60","33.10","26.20","3380260","1509591","1870669"],
                    ["1983","24.30","29.10","32.40","25.90","3391400","1523179","1868222"],
                    ["1984","24.30","28.50","31.50","25.60","3375172","1529566","1845606"],
                    ["1985","24.20","27.80","30.40","25.20","3353929","1535634","1818295"],
                    ["1986","24.10","27.10","29.40","24.80","3334770","1539312","1795458"],
                    ["1987","23.90","26.40","28.60","24.30","3321084","1539836","1781248"],
                    ["1988","23.70","25.80","27.90","23.80","3313344","1538660","1774684"],
                    ["1989","23.30","25.40","27.50","23.30","3317820","1541013","1776807"],
                    ["1990","22.90","25.10","27.30","23.00","3338082","1545244","1792838"],
                    ["1991","22.70","24.90","27.10","22.70","3360141","1550622","1809519"],
                    ["1992","22.40","24.70","27.00","22.50","3378500","1556379","1822121"],
                    ["1993","22.10","24.60","26.80","22.30","3396002","1563979","1832023"],
                    ["1994","21.90","24.20","26.40","22.10","3390339","1566890","1823449"],
                    ["1995","21.70","23.80","25.90","21.90","3382914","1571260","1811654"],
                    ["1996","21.50","23.40","25.30","21.50","3370175","1571726","1798449"],
                    ["1997","21.30","23.00","24.80","21.30","3350770","1566609","1784160"],
                    ["1998","21.00","22.50","24.30","20.80","3328343","1557835","1770507"],
                    ["1999","20.80","21.90","23.80","20.10","3285821","1530452","1755368"],
                    ["2000","20.70","21.40","23.40","19.50","3250473","1503713","1746761"],
                    ["2001","20.50","20.90","23.00","18.90","3222749","1480815","1741934"],
                    ["2002","20.30","20.40","22.50","18.40","3196807","1461459","1735348"],
                    ["2003","20.20","19.90","22.10","17.90","3166639","1442434","1724204"],
                    ["2004","20.10","19.40","21.50","17.40","3129217","1422859","1706358"],
                    ["2005","20.10","18.90","20.90","16.90","3087272","1403957","1683315"],
                    ["2006","20.20","18.30","20.20","16.40","3044524","1384748","1659776"],
                    ["2007","20.30","17.70","19.50","15.90","3006203","1367864","1638339"],
                    ["2008","20.40","17.20","19.00","15.50","2988559","1360640","1627919"],
                    ["2009","20.50","16.80","18.50","15.10","2979659","1356975","1622685"],
                    ["2010","20.50","16.40","18.10","14.80","2944091","1341872","1602219"],
                    ["2011","20.40","16.30","17.90","14.70","2938308","1340226","1598082"],
                    ["2012","20.10","16.30","17.80","14.70","2961263","1354856","1606407"]
                    ],
                    columns = ['Year', 'Average Smoked', 'Percent of Male', 'Percent of Female', 'Percent of Total Population', 'Total Smokers', 'Total Males', 'Total Females']
                    )

#Global Variables?
ikwhatthisdoesnow = False

Visualise_total = 3

#Important Functions
def originaldata():
    print(ogdb)

def smokingdata():
    print(cldb)

def three():
    cldb[['Total Smokers']]

def four():
    int(input(f"Enter a year: "))

def five():
    a = cldb.plot(
        kind='bar',
        x='Year',
        y='Percent of Male',
        color='blue',
        alpha=0.3,
        title='test'
    )
    plt.show()
    print(a)

#def 6 

#def 7



def useCases():
    global ikwhatthisdoesnow

    print("""This UI will tell you almost everything you want to know about the trends of smoking between the eyars 1980 and 2012
          
          It's interactive so you can get the most out of it as you can.

            Choose from the functions on what you'd like to learn about:

            Basic Functions:

            1. OG - Show the original dataset
            2. OZ - Show the updated Data Frame of just Australia
            3. TOTAL - Show the total amount of Australian smokers from 1980 - 2012 

            Advanced Functions:
            
            4. Year:(YYYY) - Show coloumn of information for just that year
            5. Visualise_total - Visualise the total smoking trends between two genders
            6. Visualise_average - Visualise the average smoking trends between two genders
            
            7. Quit - Quit Program
          """)
    
    try:
        fn = input("Choose function: ")

        if fn == "OG":
            print("put your function here")
        elif fn == "OZ":
            print("put your function here")
        elif fn == "TOTAL":
            print("put your function here")
        elif fn == "YEAR":
            print("put your function here")
        elif fn == 5:
            five()
        elif fn == "Visualise_average":
            print("put your function here")
        elif fn == "Quit":
            print("put your function here")

    except:
        print("smt")
        
#example for the integer input f string

        int(input(f"Enter a number greater than {age}: "))



#Main Program

"while not ikwhatthisdoesnow:"
"useCases()"

,Australia,1980,24.5,30.5,34.400002,26.799999,3355016,1484506,1870510
0,Australia,1981,24.400000,30.000000,33.700001,26.400000,3364053,1495378,1868674
1,Australia,1982,24.299999,29.600000,33.099998,26.200001,3380260,1509591,1870669
2,Australia,1983,24.299999,29.100000,32.400002,25.900000,3391400,1523179,1868222
3,Australia,1984,24.299999,28.500000,31.500000,25.600000,3375172,1529566,1845606
4,Australia,1985,24.200001,27.799999,30.400000,25.200001,3353929,1535634,1818295
5,Australia,1986,24.100000,27.100000,29.400000,24.799999,3334770,1539312,1795458
6,Australia,1987,23.900000,26.400000,28.600000,24.299999,3321084,1539836,1781248
7,Australia,1988,23.700001,25.799999,27.900000,23.799999,3313344,1538660,1774684
8,Australia,1989,23.299999,25.400000,27.500000,23.299999,3317820,1541013,1776807
9,Australia,1990,22.900000,25.100000,27.299999,23.000000,3338082,1545244,1792838
10,Australia,1991,22.700001,24.900000,27.100000,22.700001,3360141,1550622,1809519
11,Australia,1992,22.400000,24.700001,27.000000,22.500000,3378500,1556379,1822121
12,Australia,1993,22.100000,24.600000,26.799999,22.299999,3396002,1563979,1832023
13,Australia,1994,21.900000,24.200001,26.400000,22.100000,3390339,1566890,1823449
14,Australia,1995,21.700001,23.799999,25.900000,21.900000,3382914,1571260,1811654
15,Australia,1996,21.500000,23.400000,25.299999,21.500000,3370175,1571726,1798449
16,Australia,1997,21.299999,23.000000,24.799999,21.200001,3350770,1566609,1784160
17,Australia,1998,21.000000,22.500000,24.299999,20.799999,3328343,1557835,1770507
18,Australia,1999,20.799999,21.900000,23.799999,20.100000,3285821,1530452,1755368
19,Australia,2000,20.700001,21.400000,23.400000,19.500000,3250473,1503713,1746761
20,Australia,2001,20.500000,20.900000,23.000000,18.900000,3222749,1480815,1741934
21,Australia,2002,20.299999,20.400000,22.500000,18.400000,3196807,1461459,1735348
22,Australia,2003,20.200001,19.900000,22.100000,17.900000,3166639,1442434,1724204
23,Australia,2004,20.100000,19.400000,21.500000,17.400000,3129217,1422859,1706358
24,Australia,2005,20.100000,18.900000,20.900000,16.900000,3087272,1403957,1683315
25,Australia,2006,20.200001,18.299999,20.200001,16.400000,3044524,1384748,1659776
26,Australia,2007,20.299999,17.700001,19.500000,15.900000,3006203,1367864,1638339
27,Australia,2008,20.400000,17.200001,19.000000,15.500000,2988559,1360640,1627919
28,Australia,2009,20.500000,16.799999,18.500000,15.100000,2979659,1356975,1622685
29,Australia,2010,20.500000,16.400000,18.100000,14.800000,2944091,1341872,1602219
30,Australia,2011,20.400000,16.299999,17.900000,14.700000,2938308,1340226,1598082
31,Australia,2012,20.100000,16.299999,17.799999,14.700000,2961263,1354856,1606407

TypeError: 'module' object is not callable